@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.kodelectures .page .listview-wrapper{
  text-align:center;
  }
.kodelectures .page {
  max-width:800px;
  margin:30px auto 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.kodelectures .page hr {
  background-color: transparent;
  background-image: url('./images/hr.png');
  background-repeat: no-repeat;
  background-position: center center;
  border-top: none !important;
  border-bottom: none !important;
  clear: both;
  display: table;
  height: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width:100%;
} 

.kodelectures .page p a:hover{
  text-decoration:underline;
}
.kodelectures .page p a{
  color:#db7e2c;
  text-decoration:none;
}

.kodelectures .page p code {
  border:1px solid #e8e8e8;
  border-radius:3px;
  padding:2px 4px;
}
.kodelectures .page p {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin: 0 0 25px;
  font-family: Open Sans, 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.kodelectures .page .about h2 {
  color: #888;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px !important;
  margin-bottom: 10px;
  font-weight:normal;
}
.kodelectures .page .about h1 span {
  color: #999;
  font-size: 16px;
  //text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.kodelectures .page .about h1 strong {
  font-weight:bold;
}
.kodelectures .page .about h1 {
  text-rendering: optimizeLegibility;
  
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight:400;
  line-height:62px;
  color:#db7e2c;
  
}

.kodelectures .nav-bar .nav-link:hover{
  background-color:white;
  color:#db7e2c;
  text-shadow:none;
  box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  
}
.kodelectures .nav-bar .nav-link{
  display:inline-block;
  width:auto;
  color:white;
  text-shadow:0px 1px rgba(0,0,0,0.2);
  padding:8px;
  font-size:14px;
  margin-top:15px;
  cursor:pointer;
  transition:.2s linear;
  border-radius:3px;
}
.kodelectures .nav-bar .logo span.icon{
  height: 32px;
  width: 32px;
  display: inline-block;
  background-image: url('./iconbook.white.64.png');
  background-size: cover;
  float: left;
  margin-top: 3px;
  margin-right:6px;
}
.kodelectures .nav-bar .logo span{
  font-weight:300;
}
.kodelectures .nav-bar .logo{
  float:left;
  font-size:32px;
  color:white;
  text-rendering:optimizeLegibility;
  padding: 9px 20px 9px 10px;
  width: auto;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.kodelectures .nav-bar {
  height: 60px;
  background-color: #db7e2c;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0 0 6px 6px;
  font-family : 'Raleway', 'Open Sans',Arial, Helvetica, sans-serif;
  text-align:right;
  padding-right:20px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  background-image: url(./images/menu_noise.png);
}

.kodelectures .hero .content {
  max-width:800px;
  margin : 0 auto;
  padding-top :120px;
  left: 55% !important;
  top: 122px !important;
}

.kodelectures .hero .content span.video iframe{
  width:300px;
  height:200px;
}
.kodelectures .hero .content span.video{
  
  width:50%;
  height:auto;
  float:left;
  display:block;
  text-align:center;
  
}
.kodelectures .hero .content span.subtitle{
  font-size:13px;
  display:block;
  font-weight: normal;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: #FFF;
  width: 450px;
  line-height: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  width:50%;
  margin-left:50%;
  margin-top:20px;
  max-width:250px;
  }
.kodelectures .hero .content span.title{
  display:block;
  font-size: 42px;
  color:white;
  text-shadow:1px 1px 3px rgba(0,0,0,0.2); 
  
  font-weight: normal;
  width: 100%;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  width:50%;
  margin-left:50%
  }
  
.kodelectures .hero {
  height:38%;
  width:100%;
  background-color:transparent;
  text-align:left;
  background-image:url('https://d2mehr5c6bceom.cloudfront.net/users/testdude/51e39a8044236fe08b90f7f13589d06a31e2c493.jpeg');
  background-repeat: norepeat;
  background-position:center center;
  background-size:cover;
}

.kodelectures .cta-header {
  height:auto;
  width:100%;
}

.kodelectures .cta-header > div > .embed-video{
  width:80%;
  height:80%;
  border:1px solid white;
  //float:right;
}
.kodelectures .cta-header > div > h2{
  width:auto;
  margin-bottom:15px;
  font-weight:300;
  font-size:18px;
  text-shadow: 1px 1px 3px rgba(200,200,200,0.8);
  text-rendering: optimizeLegibility;
  color: #444;
}
.kodelectures .cta-header {
  background-color:white;
}
}
.kodelectures .cta-header > div {
  text-align:left;
  width : 33.3333%;
  box-sizing:border-box;
  padding:10px;
  display:inline-block;
  background-color:rgba(255,255,255,0.75);
  height:250px;
  float:left;
  border-top:1px solid rgba(255,255,255,0.8);  
}

.kodelectures .recommended-courses {
  height:auto;
  cursor:pointer;
}

.kodelectures .recommended-courses > h1 {
  //background-color: transparent//rgba(255,255,255,0.25);  
  //padding: 20px;
  //font-size: 18px;
  //color: #444;  
  //text-shadow:1px 1px 1px rgba(255,255,255,0.75);
  
  text-rendering: optimizeLegibility;
  
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight:400;
  line-height:62px;
  color:#db7e2c;
  
  
  
}

.kodelectures .import-course-bar.minimized {
  height:63px;
  margin-bottom:39px;
}
.kodelectures .import-course-bar {
  //position: absolute;
  //bottom:0;
  //left:0;
  //right:0;
  height:auto;
  width:100%;
  padding:0;
  box-sizing:border-box;
  background-color:rgba(255,255,255,0.75);
  border-top:1px solid rgba(255,255,255,0.5);
  margin-bottom:15px
}

.kodelectures .import-course-bar .listview-wrapper .kdlistview{
  margin-bottom:35px;
}

.kodelectures .import-course-bar .listview-wrapper{
  height:auto;
  text-align:left;
  padding-top:15px;
}

.kodelectures .course-empty-message span{
  font-size:12px;
  display:block;
  color:#666;
}
.kodelectures .course-empty-message {
  height: auto;
  width: 100%;
  font-size: 14px;
  padding: 0 40px;
  color: #db7e2c;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  display: block;
}

.kodelectures .recommended-icon {
width: 75px;
height: 75px;
//background-image: url('./images/book.png');
background-image: url('./icon.128.book.transparent.png');
background-size: cover;
margin: 0 auto 10px auto;
opacity:0.25;
}

.kodelectures .recommended-listitem .recommended-import-button span {
    font-family: 'Raleway', Arial, Helvetica, sans-serif!important;

}
.kodelectures .recommended-listitem .recommended-import-button:hover {
  background-color:rgba(219, 126, 44, 0.8);
  
}
.kodelectures .recommended-listitem .recommended-import-button {

  margin-top:2px;
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-75px;
  
  background-color:#db7e2c;
  background-image:none;
  font-family: 'Raleway', Arial, Helvetica, sans-serif!important;
  border:none;
  box-shadow:none;
  text-shadow:none;
  transition:background-color 0.2s linear;
}

.kodelectures .recommended-listitem:hover {
  background-color:rgba(255,255,255,0.5);
}

.kodelectures .recommended-listitem span.data[data-paths="title"] {
  font-weight:bold;
  line-height:100%;
  display:block;  
  color:#db7e2c;
  text-align:center;
  font-size:16px;
}

.kodelectures .recommended-listitem span.data[data-paths="description"] {
  display:block;
  color:#888;
  font-size:12px;
  line-height: 20px;
  margin-top: 15px;
  text-align:center;
}

.kodelectures .recommended-listitem span.data {
  //margin-right : 150px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;

}

.kodelectures .recommended-listitem {
  
  padding:10px 15px;
  box-sizing:border-box;
  display:inline-block;
  width:50%; 
  height:200px;
  transition:background-color 0.2s linear;
  vertical-align:top;
}

@media (max-width: 1024px) { 
  .kodelectures .recommended-listitem {
    width:100%;
  }
}

@media (min-width: 1600px) { 
  .kodelectures .recommended-listitem {
    width:33.333333%;
  }
}

.kodelectures .course-settings-menu {
  border : none;
  background-color:transparent;
  transition:opacity 0.2s linear;
  opacity:0.25;
  position:absolute;
  top:0px;
  right:0px;
}

.kodelectures .course-details {
  height:100%;
  overflow:auto;
  //background-image:url(http://petapixel.com/assets/uploads/2012/11/blackboard-7.jpg);
  //background-size:cover;
  //background-position:center center;
}

.kodelectures .course-details .listview-wrapper {
  //box-shadow:inset 0 10px 15px -5px rgba(255, 255, 255, 0.8);
  height:auto;
  padding-top:10px;
  box-sizing:border-box;
}

.kodelectures .selection-listitem:hover .course-settings-menu{
  opacity:1;
}


.kodelectures .selection-view.animate {
  transition: left 0.5s ease;
}

.kodelectures .selection-view {
  left: -100%;
  overflow-y:auto;
  //display: inline-block;
  top: 0;
  position: absolute;
  background-color: white;
  border-left: 1px solid #e8e8e8;
  //text-align : center;

  
}
.kodelectures .selection-view.in {
  left : 0;
}

.kodelectures .selection-view > .listview-wrapper {
  height:auto;
}

.kodelectures .selection-view > .listview-wrapper > .kdscrollview > .kdlistview {
  width : 100%;
  height: 100%;
  margin: 0px auto;
  //background-image:-webkit-radial-gradient(50% 50%,ellipse cover,transparent 0%,rgba(255,255,255,0.5) 80%);
  background-color:rgba(255,255,255,0.75);
}

.kodelectures .selection-listitem {
  //width : 30%;
  //height :200px;
  //display : inline-block;
  //margin : 10px;
  //border: 1px solid #e8e8e8!important;
  //background-color:rgba(255,255,255,0.75);
  //border-radius:4px;
  //vertical-align:top;
  //cursor : pointer;
  //overflow:hidden;
  //transition:background-color 0.2s linear;  
  width : 30%;
  height :200px;
  display : inline-block;
  margin : 10px;
  //padding : 10px;
  border: none!important;
  background-color:#db7e2c;
  border-radius:4px;
  vertical-align:top;
  cursor : pointer;
  overflow:hidden;
  transition:background-color 0.2s linear;
}

.kodelectures .selection-listitem:hover {
  box-shadow:0 5px 15px -10px black, 0 0px 20px -5px rgba(0,0,0,0.25);
  background-color:rgba(219, 126, 44, 0.8);
}

.kodelectures .selection-listitem .title {
  height : auto;
  padding : 20px 10px;
  //background-color : rgba(255,255,255,0.75);
  font-size: 16px;
  box-sizing:border-box;
  border-bottom: none;
  color : #fff;
  //box-shadow:inset 0 -15px 20px -15px rgba(0,0,0,0.1);
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-shadow:0px 1px rgba(0,0,0,0.2);

  
}
.kodelectures .selection-listitem .lectures{
  font-size:13px;
  margin-left:10px;
  color:white;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-shadow:0px 1px rgba(0,0,0,0.2);
  display:block;
}
.kodelectures .selection-listitem .description{
  height : auto;
  padding: 15px 20px 15px 20px;
  box-sizing:border-box;
  text-align : left;
  color: rgba(255, 255, 255, 0.68);
  font-size:13px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-shadow:0px 1px rgba(0,0,0,0.2);
}

.kodelectures .get-started-link:hover {
  color:rgba(219, 126, 44, 0.8);
}
.kodelectures .get-started-link {
  background-color:white;
  padding:8px;
  border-radius:3px;
  color:#db7e2c;
  transition:color 0.2s linear;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}  

.kodelectures .lecture-listitem:hover{
  color:rgba(255,255,255,0.8);
}
.kodelectures .lecture-listitem {
  height:auto;
  cursor:pointer;
  color:rgba(255,255,255,0.6);
  font-size:13px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-shadow:0px 1px rgba(0,0,0,0.2);
  padding:5px 15px;
} 

.kodelectures .course-header h1 strong{
  font-weight:bold;
}
.kodelectures .course-header h1 {
  text-rendering: optimizeLegibility;
  
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight:400;
  line-height:62px;
  color:#db7e2c;
  
}

.kodelectures .course-header {
  height:auto;
  padding-top:10px;
  padding-bottom:10px;
  background-color:rgba(255,255,255,0.75);
  text-shadow:1px 1px 1px rgba(255,255,255,0.75);
  border-top:1px solid rgba(255,255,255,0.5);
}