.kodelectures .recommended-courses > h1 {
  background-color: rgba(255,255,255,0.25);  
  padding: 20px;
  font-size: 18px;
  color: #444;  
}

.kodelectures .import-course-bar {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:auto;
  width:100%;
  padding:0;
  box-sizing:border-box;
  background-color:rgba(255,255,255,0.75);
  border-top:1px solid white;
}

.kodelectures .import-course-bar .listview-wrapper .kdlistview{
  margin-bottom:35px;
}

.kodelectures .import-course-bar .listview-wrapper{
  height:auto;
  text-align:left;
}

.kodelectures .recommended-listitem .recommended-import-button {
  float:right;
  
}

.kodelectures .recommended-listitem:hover {
  background-color:rgba(255,255,255,0.5);
}

.kodelectures .recommended-listitem span.data[data-paths="title"] {
  font-weight:bold;
}
.kodelectures .recommended-listitem span.data[data-paths="description"] {
  display:block;
  color:#888;
  font-size:12px;
}

.kodelectures .recommended-listitem span.data {
  margin-right : 120px;
}

.kodelectures .recommended-listitem {
  
  padding:10px;
  box-sizing:border-box;
  display:inline-block;
  width:50%; 
  height:auto;
  transition:background-color 0.2s linear;
  
}

.kodelectures .course-settings-menu {
  border : none;
  background-color:transparent;
  transition:opacity 0.2s linear;
  opacity:0.25;
  position:absolute;
  top:0px;
  right:0px;
}

.kodelectures .course-details {
  height:100%;
  overflow:auto;
}

.kodelectures .course-details .listview-wrapper {
  height:auto;
}

.kodelectures .selection-listitem:hover .course-settings-menu{
  opacity:1;
}


.kodelectures .selection-view {
  left: 100%;
  //display: inline-block;
  top: 0;
  position: absolute;
  background-color: white;
  border-left: 1px solid #e8e8e8;
  transition: left 0.5s ease;
  text-align : center;
  
  background-image:url(http://ford3.com/portfolio/ford3img.php?i=image_1363900487.jpg&vsize=768);
  background-repeat:norepeat;
  background-position:center center;
  background-size:cover;
  
}
.kodelectures .selection-view.in {
  left : 0;
}

.kodelectures .selection-view > .listview-wrapper > .kdscrollview > .kdlistview {
  width : 100%;
  height: 100%;
  margin: 0px auto;
  background-image:-webkit-radial-gradient(50% 50%,ellipse cover,transparent 0%,rgba(255,255,255,0.5) 80%);
}

.kodelectures .selection-listitem {
  width : 300px;
  height :200px;
  display : inline-block;
  margin : 10px;
  //padding : 10px;
  border: 1px solid #e8e8e8!important;
  background-color:rgba(255,255,255,0.75);
  border-radius:4px;
  vertical-align:top;
  cursor : pointer;
  overflow:hidden;
  transition:background-color 0.2s linear;
}

.kodelectures .selection-listitem:hover {
  box-shadow:0 5px 15px -10px black, 0 0px 20px -5px rgba(0,0,0,0.25);
  background-color:rgba(255,255,255,0.9);
}

.kodelectures .selection-listitem .title {
  height : auto;
  padding : 10px 10px 10px 10px;
  background-color : rgba(255,255,255,0.75);
  font-size: 18px;
  box-sizing:border-box;
  border-bottom: 1px solid #f5f5f5;
  color : #444;
  
}
.kodelectures .selection-listitem .lectures{
  font-size:12px;
  margin-left:10px;
  color:#aaa;

}
.kodelectures .selection-listitem .description{
  height : auto;
  padding: 20px 20px 10px 20px;
  box-sizing:border-box;
  text-align : left;
  color: #5f5f5f;
}

.kodelectures .lecture-listitem:hover{
  color:#ff9200;
}
.kodelectures .lecture-listitem {
  height:auto;
  cursor:pointer;
  
}

.kodelectures .course-header {
  height:auto;
  padding-top:40px;
  padding-bottom:30px;
  background-color:rgba(255,255,255,0.5);
}