@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@font-face {
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand SC'), local('PatrickHandSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/patrickhandsc/v1/OYFWCgfCR-7uHIovjUZXscR6S2I7R_2PmaFugZazRjg.woff) format('woff');
}

.kodelectures .recommended-courses {
  height:auto;
  cursor:pointer;
}

.kodelectures .recommended-courses > h1 {
  background-color: rgba(255,255,255,0.25);  
  padding: 20px;
  font-size: 18px;
  color: #444;  
  text-shadow:1px 1px 1px rgba(255,255,255,0.75);
}

.kodelectures .import-course-bar.minimized {
  height:63px;
  margin-bottom:39px;
}
.kodelectures .import-course-bar {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:auto;
  width:100%;
  padding:0;
  box-sizing:border-box;
  background-color:rgba(255,255,255,0.75);
  border-top:1px solid white;
  margin-bottom:15px
}

.kodelectures .import-course-bar .listview-wrapper .kdlistview{
  margin-bottom:35px;
}

.kodelectures .import-course-bar .listview-wrapper{
  height:auto;
  text-align:left;
  padding-top:15px;
}

.kodelectures .course-empty-message span{
  font-size:14px;
  display:block;
  color:#aaa;
}
.kodelectures .course-empty-message {
  position: absolute;
  top: 105px;
  height: auto;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 20px;
  padding: 0 40px;
  color: #888;
  background-color: rgba(255,255,255,0.5);
  line-height: 200%;
  z-index: 1;
  text-shadow:1px 1px 1px rgba(255,255,255,0.75);
}

.kodelectures .recommended-listitem .recommended-import-button {
  float:right;
  margin-top:2px;
}

.kodelectures .recommended-listitem:hover {
  background-color:rgba(255,255,255,0.5);
}

.kodelectures .recommended-listitem span.data[data-paths="title"] {
  font-weight:bold;
  line-height:100%;
  display:block;  
}

.kodelectures .recommended-listitem span.data[data-paths="description"] {
  display:block;
  color:#888;
  font-size:12px;
}

.kodelectures .recommended-listitem span.data {
  margin-right : 150px;
}

.kodelectures .recommended-listitem {
  
  padding:10px 15px;
  box-sizing:border-box;
  display:inline-block;
  width:50%; 
  height:auto;
  transition:background-color 0.2s linear;
  vertical-align:top;
}

@media (max-width: 1024px) { 
  .kodelectures .recommended-listitem {
    width:100%;
  }
}

@media (min-width: 1600px) { 
  .kodelectures .recommended-listitem {
    width:33.333333%;
  }
}

.kodelectures .course-settings-menu {
  border : none;
  background-color:transparent;
  transition:opacity 0.2s linear;
  opacity:0.25;
  position:absolute;
  top:0px;
  right:0px;
}

.kodelectures .course-details {
  height:100%;
  overflow:auto;
  background-image:url(http://petapixel.com/assets/uploads/2012/11/blackboard-7.jpg);
  background-size:cover;
  background-position:center center;
}

.kodelectures .course-details .listview-wrapper {
  //box-shadow:inset 0 10px 15px -5px rgba(255, 255, 255, 0.8);
  height:auto;
  padding-top:10px;
  box-sizing:border-box;
}

.kodelectures .selection-listitem:hover .course-settings-menu{
  opacity:1;
}


.kodelectures .selection-view.animate {
  transition: left 0.5s ease;
}

.kodelectures .selection-view {
  left: 100%;
  //display: inline-block;
  top: 0;
  position: absolute;
  background-color: white;
  border-left: 1px solid #e8e8e8;
  text-align : center;
  background-image:url('http://ford3.com/portfolio/ford3img.php?i=image_1363900487.jpg&vsize=768');
  background-repeat: norepeat;
  background-position:center center;
  background-size:cover;
  
}
.kodelectures .selection-view.in {
  left : 0;
}

.kodelectures .selection-view > .listview-wrapper > .kdscrollview > .kdlistview {
  width : 100%;
  height: 100%;
  margin: 0px auto;
  background-image:-webkit-radial-gradient(50% 50%,ellipse cover,transparent 0%,rgba(255,255,255,0.5) 80%);
}

.kodelectures .selection-listitem {
  width : 300px;
  height :200px;
  display : inline-block;
  margin : 10px;
  //padding : 10px;
  border: 1px solid #e8e8e8!important;
  background-color:rgba(255,255,255,0.75);
  border-radius:4px;
  vertical-align:top;
  cursor : pointer;
  overflow:hidden;
  transition:background-color 0.2s linear;
}

.kodelectures .selection-listitem:hover {
  box-shadow:0 5px 15px -10px black, 0 0px 20px -5px rgba(0,0,0,0.25);
  background-color:rgba(255,255,255,0.9);
}

.kodelectures .selection-listitem .title {
  height : auto;
  padding : 10px 10px 10px 10px;
  background-color : rgba(255,255,255,0.75);
  font-size: 18px;
  box-sizing:border-box;
  border-bottom: 1px solid #e8e8e8;
  color : #444;
  box-shadow:inset 0 -15px 20px -15px rgba(0,0,0,0.1);
  
}
.kodelectures .selection-listitem .lectures{
  font-size:14px;
  margin-left:10px;
  color:#ccc;
  //font-family: 'Patrick Hand SC', cursive;
}
.kodelectures .selection-listitem .description{
  height : auto;
  padding: 15px 20px 15px 20px;
  box-sizing:border-box;
  text-align : left;
  color: #f5f5f5;
  font-size:16px;
  font-family: 'Patrick Hand SC', cursive;
}

.kodelectures .lecture-listitem:hover{
  color:#ff9200;
}
.kodelectures .lecture-listitem {
  height:auto;
  cursor:pointer;
  color:rgba(255,255,255,0.6);
  font-family: 'Patrick Hand SC', cursive;
  font-size:14px;
} 

.kodelectures .course-header {
  height:auto;
  padding-top:40px;
  padding-bottom:30px;
  background-color:rgba(255,255,255,0.5);
  text-shadow:1px 1px 1px rgba(255,255,255,0.75);
}