.kodelectures .result-frame > iframe {
  width:100%;
  height:100%;
}
.kodelectures .result-frame  {
  background-color: white;
  width : 100%;
  height : 100%;
}


.kodelectures .editor {
  background-color: #272822;
}

.kodelectures .css-editor {
  border-top: 5px solid #fff !important;
}

.kodelectures .markdown-preview {
  overflow : auto;
  padding : 20px;
  box-sizing : border-box;
  }
  
  
.kodelectures .markdown-preview > div > pre {
  background-color: rgba(255,255,255,0.5);
  color: #444;
}
.kodelectures .markdown-preview > .error {
  background-color: #cc0000;  
}
.kodelectures .markdown-preview > .success {
  background-color: #00cc00;
}
.kodelectures .markdown-preview > .info {
  background-color: #00cccc;
}
.kodelectures .md-help-view {
  background-color : #e8e8e8;
  border : 2px solid #e8e8e8;
  padding : 20px;
  box-sizing:border-box;
}

.kodelectures .task-view {
  background-color : white;
  //padding:40px;
  padding:0px;
  box-sizing:border-box;
  overflow-y : auto;
}

.kodelectures .task-view > .listview-wrapper{
  height:auto;
  overflow-y:auto;
}

.kodelectures .result-view {
  height : auto;
  border-top:1px solid #c00;
  border-bottom:1px solid #c00;
  background-color : rgba(200,0,0,0.5);
  padding : 10px;
  box-sizing:border-box;
}

.kodelectures .result-view.success {
  border-color: #0c0;
  background-color : rgba(0,200,0,0.5);
  width : auto;
}

.kodelectures .task-next-button {
  width:100%;
  border-radius:0;
}

.kodelectures .hint-view {
  //border-radius : 4px;
  //border-bottom : 1px solid #e8e8e8;
  background-color : #fbfbfb;
  height : auto;
  //padding :10px 10px 0 10px;
  cursor : pointer;
  width : auto;
}

.kodelectures button.run {
  z-index: 20000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  width:auto;
}
.kodelectures .text{
  display:block;
  border-bottom:1px solid #e8e8e8;
  color : #444;
  font-weight :400;
  //margin-bottom: 10px;
  padding : 10px 15px;
  background-color:#f5f5f5;
}

.kodelectures .hint-view span.data, .kodelectures .hint-code-view span.data, .kodelectures .task-text-view span.data, .kodelectures .lecture-text-view span.data{
  display : block;
  padding: 10px 20px 0 20px;
  border-bottom:1px solid #e8e8e8;
}

/*.kodelectures .hint-view .text{
  display:block;
  border-bottom:1px solid #aaa;
  margin-bottom : 10px;
  font-weight : bold;
}*/
.kodelectures .hint-code-view {
  //border-radius : 4px;
  //border-bottom : 1px solid #e8e8e8;
  background-color : #fbfbfb;
  height : auto;
  //padding : 10px 10px 0 10px;
  cursor: pointer;
  width : auto;
}

.kodelectures .embed {
  height:20em;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.15);
}

.kodelectures .embed iframe {
  height:100%;
  width:100%;
}
.kodelectures .task-text-view {
  height : auto;
  //padding : 10px 10px 0 10px;
  padding:0px;
  //margin-bottom:10px;
  //border-radius:4px;
  //border-bottom:1px solid #e8e8e8;
  background-color:#fbfbfb;
  width:auto;
}

.kodelectures .task-splitview .panel-1 {
  box-shadow:10px 0px 20px 18px rgba(0,0,0,0.15);
}

.kodelectures .task-overview {
  background-color: white;
  //padding:40px 40px 40px 0;
  border-left:1px solid #e8e8e8;
  padding:0;
  box-sizing:border-box;
  //box-shadow:inset 10px 0px 20px -10px rgba(0,0,0,0.3);
}

.kodelectures .task-overview-item.active .summary{
  display:block;
}
.kodelectures .task-overview-item.active {
  font-weight : bold;
  background-color:#fff;
  color:#444;
}

.kodelectures .task-overview-item .title-text{
  padding:10px;
  //background-color:rgba(255,255,255,0.05);
  box-sizing:border-box;
}
.kodelectures .task-overview-item .summary{
  display:none;
  // transition: all 0.2s linear;
  font-weight : 300;
  padding : 10px;
  box-sizing:border-box;
  font-size : 12px;
}

.kodelectures .task-overview-item {
  cursor:pointer;
  color:#ccc;
  font-weight:bold;
  //border:1px solid red;
  //padding: 5px 10px;
  //border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8!important;
  margin: 0px 0px 0px 0px;
  //border-radius: 4px;
  background-color: #f5f5f5;
  box-sizing: border-box; 
  width: auto;
  line-height: 20px;
}

.kodelectures .webterm .console {
  overflow-y:auto!important;
  
}
.kodelectures .webterm .kdbuttonwithmenu-wrapper.editor-advanced-settings-menu {
  bottom :0px;
  right:0px;
}
