.kodelectures .has-markdown code {
  background-color: rgba(0,0,0,0.3);
  color: white;
  border-radius: 3px;
  padding: 1px 4px;
  font-size: 12px;
  box-shadow: inset 0 0 5px rgba(255,255,255,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid #888;
}