.kodelectures.kdview {
  background: #fff url(transparent.png) top left fixed;
}

.kodelectures.loading {
  box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
  background: url(icon.128.cloud.png) center center no-repeat;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
  opacity: 0.5;
}

.kodelectures .kdsplitview-panel {
  overflow: hidden;
}

.kodelectures .preview-pane {
  overflow-y: auto;
  background: #444;
  -webkit-transition-duration: 200ms;
  background-image : -webkit-radial-gradient(50% 50%,ellipse cover,#444 0%,#272822 100%);
  background-image : radial-gradient(50% 50%,ellipse cover,#444 0%,#272822 100%);
  border-top : 5px solid #ccc;
}

.kodelectures .preview-pane.transparented {
  background: transparent;
  box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.kodelectures .control-pane {
}

.kodelectures .control-pane .on-off {
  float: right;
  margin-right: 5px;
}

.kodelectures .control-pane .icon.docs {
  background-position: 0 -630px;
}


.kodelectures .control-pane button.headline .icon {
  background-position: -40px -40px;
}

.kodelectures .control-pane button.list .icon {
  background-position: -140px -40px;
}

.kodelectures .control-pane button.bold .icon {
  background-position: -60px -40px;
}

.kodelectures .control-pane button.italic .icon {
  background-position: -80px -40px;
}

.kodelectures .control-pane button.link .icon {
  background-position: -120px -40px;
}

.kodelectures .control-pane button.image .icon {
  background-position: -100px -40px;
}

.kodelectures .control-pane button.inline .icon {
  background-position: -180px -40px;
}

.kodelectures .control-pane button.code .icon {
  background-position: -160px -40px;
}

.kodelectures .control-pane .icon.underline {
  background-position: 0 -60px;
}

.kodelectures .control-pane .on-off .on {
  width: 90px;
}

.kodelectures .control-pane .on-off .off {
  width: 55px;
}

.kodelectures .control-pane .header-buttons {
  width: 411px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons{
  margin-right:5px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons button{
  margin-right:0px;
}
.kodelectures .control-pane .header-format-buttons button{
  margin-right:0px;
}
.kodelectures .control-pane .header-buttons .orientation-buttons button span.icon{
  background-image:url(markdownIcons.png);
}

.kodelectures .control-pane .header-buttons .orientation-buttons button.v5 span.icon{
  background-position: -80px -60px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons button.v3 span.icon{
  background-position: -120px -60px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons button.h5 span.icon{
  background-position: -100px -60px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons button.h3 span.icon{
  background-position: -140px -60px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons button.full-editor span.icon{
  background-position: -60px -60px;
}

.kodelectures .control-pane .header-buttons .orientation-buttons button.full-preview span.icon{
  background-position: -40px -60px;
}

.kodelectures .control-pane .header-format-buttons {
  width: auto;
  float: left;
  margin:5px;
}

.kodelectures .control-pane .header-format-buttons .control-button {
  float: left;
  margin: 6px 3px;
}
.kodelectures .control-pane .header-buttons .control-button {
  float: right;
}

.kodelectures .control-pane .control-button.full-preview {
  line-height: 10px;
}

.kodelectures .control-pane .control-button.auto-manual a {
  padding: 8px 6px;
}

.kodelectures .control-pane .control-button.scroll-switch a {
  padding: 8px 6px;
}

.kodelectures .control-pane .control-button.save-as-kdapp {
  line-height: 10px;
}

.kodelectures .control-pane .control-button.code-examples {
  margin-top: -1px;
}
.kodelectures .control-pane .control-button.language {
  margin-top: -1px;
}
.kodelectures .control-pane .code {
  margin-top: 5px;
  vertical-align:top;
}

.kodelectures .control-pane .control-button.transp {
  text-indent: -9999px;
  background: url(transparent.png) center center;
}

.kodelectures .control-pane .control-button.transp.transparented {
  background-image: none;
  background-color: white;
}

.kodelectures .control-pane label {
  margin-left: 5px;
  line-height: 37px;
}


.kodelectures .kodepad-editors {
  transition : left 0.5s ease;
}

.kodelectures .kodepad-editors.out {
  left : -100%;
}


body.dragInAction .kodelectures .md-help-view {
    // border : 2px dashed blue;
    // background-color : blue;
    // color : white;
}

.jcontextmenu {
    z-index : 10002;
}

.kodelectures .kdsplitview-resizer {
  background:transparent;
}

.kodelectures .ace_scrollbar {
  overflow-y:auto;
}

.lecture-modal.kdmodal .kdmodal-content {
  padding : 30px;
}

.modal-warning.formline {
  background-color : rgba(200,0,0,0.2)
}