.marKDown.kdview {
  background: #fff url(transparent.png) top left fixed;
}

.marKDown.loading {
  box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
  background: url(icon.128.png) center center no-repeat, 
              url(transparent.png) top left repeat;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 100px;
  opacity: 0.5;
}

.marKDown .kdsplitview-panel {
  overflow: hidden;
}

.marKDown .preview-pane {
  overflow-y: auto;
  background: #444;
  -webkit-transition-duration: 200ms;
  background-image : -webkit-radial-gradient(50% 50%,ellipse cover,#444 0%,#272822 100%);
  background-image : radial-gradient(50% 50%,ellipse cover,#444 0%,#272822 100%);
  border-top : 5px solid #ccc;
}

.marKDown .preview-pane.transparented {
  background: transparent;
  box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.marKDown .control-pane {
}

.marKDown .control-pane .on-off {
  float: right;
  margin-right: 5px;
}

.marKDown .control-pane .icon.docs {
  background-position: 0 -630px;
}

.marKDown .control-pane button .icon {
  background-image:url(markdownIcons.png)!important;  
}

.marKDown .control-pane button.headline .icon {
  background-position: -40px -40px;
}

.marKDown .control-pane button.list .icon {
  background-position: -140px -40px;
}

.marKDown .control-pane button.bold .icon {
  background-position: -60px -40px;
}

.marKDown .control-pane button.italic .icon {
  background-position: -80px -40px;
}

.marKDown .control-pane button.link .icon {
  background-position: -120px -40px;
}

.marKDown .control-pane button.image .icon {
  background-position: -100px -40px;
}

.marKDown .control-pane button.inline .icon {
  background-position: -180px -40px;
}

.marKDown .control-pane button.code .icon {
  background-position: -160px -40px;
}

.marKDown .control-pane .icon.underline {
  background-position: 0 -60px;
}

.marKDown .control-pane .on-off .on {
  width: 90px;
}

.marKDown .control-pane .on-off .off {
  width: 55px;
}

.marKDown .control-pane .header-buttons {
  width: 411px;
}

.marKDown .control-pane .header-buttons .orientation-buttons{
  margin-right:5px;
}

.marKDown .control-pane .header-buttons .orientation-buttons button{
  margin-right:0px;
}
.marKDown .control-pane .header-format-buttons button{
  margin-right:0px;
}
.marKDown .control-pane .header-buttons .orientation-buttons button span.icon{
  background-image:url(markdownIcons.png);
}

.marKDown .control-pane .header-buttons .orientation-buttons button.v5 span.icon{
  background-position: -80px -60px;
}

.marKDown .control-pane .header-buttons .orientation-buttons button.v3 span.icon{
  background-position: -120px -60px;
}

.marKDown .control-pane .header-buttons .orientation-buttons button.h5 span.icon{
  background-position: -100px -60px;
}

.marKDown .control-pane .header-buttons .orientation-buttons button.h3 span.icon{
  background-position: -140px -60px;
}

.marKDown .control-pane .header-buttons .orientation-buttons button.full-editor span.icon{
  background-position: -60px -60px;
}

.marKDown .control-pane .header-buttons .orientation-buttons button.full-preview span.icon{
  background-position: -40px -60px;
}

.marKDown .control-pane .header-format-buttons {
  width: auto;
  float: left;
  margin:5px;
}

.marKDown .control-pane .header-format-buttons .control-button {
  float: left;
  margin: 6px 3px;
}
.marKDown .control-pane .header-buttons .control-button {
  float: right;
}

.marKDown .control-pane .control-button.full-preview {
  line-height: 10px;
}

.marKDown .control-pane .control-button.auto-manual a {
  padding: 8px 6px;
}

.marKDown .control-pane .control-button.scroll-switch a {
  padding: 8px 6px;
}

.marKDown .control-pane .control-button.save-as-kdapp {
  line-height: 10px;
}

.marKDown .control-pane .control-button.code-examples {
  margin-top: -1px;
}
.marKDown .control-pane .control-button.language {
  margin-top: -1px;
}
.marKDown .control-pane .code {
  margin-top: 5px;
  vertical-align:top;
}

.marKDown .control-pane .control-button.transp {
  text-indent: -9999px;
  background: url(transparent.png) center center;
}

.marKDown .control-pane .control-button.transp.transparented {
  background-image: none;
  background-color: white;
}

.marKDown .control-pane label {
  margin-left: 5px;
  line-height: 37px;
}

.marKDown .editor {
  background-color: #272822;
}

.marKDown .css-editor {
  border-top: 5px solid #fff !important;
}

.marKDown .markdown-preview {
  overflow : auto;
  padding : 20px;
  box-sizing : border-box;
  }
  
  
.marKDown .markdown-preview > div > pre {
  background-color: rgba(255,255,255,0.5);
  color: #444;
}
.marKDown .markdown-preview > .error {
  background-color: #cc0000;  
}
.marKDown .markdown-preview > .success {
  background-color: #00cc00;
}
.marKDown .markdown-preview > .info {
  background-color: #00cccc;
}
.marKDown .md-help-view {
  background-color : #e8e8e8;
  border : 2px solid #e8e8e8;
  padding : 20px;
  box-sizing:border-box;
}

.marKDown .task-view {
  background-color : white;
  padding:40px;
  box-sizing:border-box;
  overflow-y : auto;
}

.marKDown .result-view {
  height : auto;
  border:1px solid #c00;
  background-color : rgba(200,0,0,0.5);
  margin-bottom : 10px;
  padding : 10px;
  box-sizing:border-box;
  border-radius:4px;
  margin-bottom: 40px;
}

.marKDown .result-view.success {
  border-color: #0c0;
  background-color : rgba(0,200,0,0.5);
  width : auto;
}

.marKDown .task-next-button {
  margin-left : 15px;
}

.marKDown .hint-view {
  border-radius : 4px;
  border : 1px solid #e8e8e8;
  background-color : #f5f5f5;
  height : auto;
  padding :10px 10px 0 10px;
  margin-bottom : 10px;
  cursor : pointer;
  width : auto;
}

.marKDown button.run {
  z-index: 20000;
  position: absolute;
  bottom: 10px;
  right: 10px;}

.marKDown .text{
  display:block;
  //border-bottom:1px solid #e3e3e3;
  color : #444;
  font-weight :400;
  margin-bottom: 10px;
}

.marKDown .hint-view span.data, .marKDown .hint-code-view span.data, .marKDown .task-text-view span.data{
  display : block;
  padding: 10px 20px 0 20px;
}

/*.marKDown .hint-view .text{
  display:block;
  border-bottom:1px solid #aaa;
  margin-bottom : 10px;
  font-weight : bold;
}*/
.marKDown .hint-code-view {
  border-radius : 4px;
  border : 1px solid #e8e8e8;
  background-color : #f5f5f5;
  height : auto;
  padding : 10px 10px 0 10px;
  cursor: pointer;
  width : auto;
  margin-bottom : 10px;
}

.marKDown .task-text-view {
  height : auto;
  padding : 10px 10px 0 10px;
  margin-bottom:10px;
  border-radius:4px;
  border:1px solid #e8e8e8;
  background-color:#fbfbfb;
  width:auto;
}

.marKDown .task-overview {
  background-color: white;
  padding:40px 40px 40px 0;
  box-sizing:border-box
}

.marKDown .task-overview-item.active .summary{
  display:block;
}
.marKDown .task-overview-item.active {
  font-weight : bold;
  background-color:white;
}
.marKDown .task-overview-item .summary{
  display:none;
  // transition: all 0.2s linear;
  font-weight : 300;
  padding : 10px;
  box-sizing:border-box;
  font-size : 12px;
}

.marKDown .task-overview-item {
  //border:1px solid red;
  padding: 5px 10px;
  border: 1px solid #e8e8e8!important;
  margin: 0px 0px 5px 0px;
  border-radius: 4px;
  background-color: #fbfbfb;
  box-sizing: border-box; 
  width: auto;
  line-height: 20px;
}



body.dragInAction .marKDown .md-help-view {
    // border : 2px dashed blue;
    // background-color : blue;
    // color : white;
}

.jcontextmenu {
    z-index : 10002;
}